<div class="capital-card text-center">
  <a (click)="goToDetail()">
    <div class="card-data-container">
      <p class="card-icon">{{icon}}</p>
      <p class="card-city">{{city.name}}</p>
      <div class="card-meteo">
        <p class="card-temp">{{temp}}°C</p>
        <p class="card-max-min">🌡 Min: {{city.main.temp_min}} Max: {{city.main.temp_max}}</p>
        <p class="card-moisture">Humedad: {{city.main.humidity}}%</p>
        <p class="card-sunrise">☀️ {{sunrise}} 🌙 {{sunset}}</p>
        <p class="card-wind">🌬 {{windSpeed}}km/h</p>
      </div>
    </div>
  </a>
  <p (click)="onDeleteCity()">Eliminar</p>
</div>
