<p>{{cityForecast}}</p>
<a routerLink="/principal"
   routerLinkActive="active"
   class="back">⬅ BACK </a>
<app-city-cards *ngIf="city" [city]="city"></app-city-cards>
<app-climate-charts [data]="chart" *ngFor="let chart of charts"></app-climate-charts>
