<div class="container-fluid list-container">
  <div class="row">
    <div class="col-md-3" *ngFor="let capital of capitals">
      <app-city-cards (erase)="deleteCity($event)" [city]="capital"></app-city-cards>
    </div>
  </div>
</div>
<app-city-form (select)="addCity($event)"></app-city-form>
