<div class="container-fluid">
  <h3>Añadir nueva ciudad</h3>
  <div class="row">
    <form (ngSubmit)="onSubmit()" class="col-md-4">
      <div class="form-group">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" [(ngModel)]="model" id="city" name="city" autocomplete="off" required>
      </div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
  <div class="row">
    <app-city-results class="col-md-4" (select)="onCitySelect($event)" *ngIf="cities.length > 0"
                      [cities]="cities"></app-city-results>
  </div>
</div>
