body {
  background-image: url('assets/fondo-final-op75.jpg');
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #cfcfcf;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: white;
}

.ct-series text.ct-label {
  font-size: 2em;
  fill: #000;
}

foreignObject .ct-label {
  font-size: 0.75em;
}

/*
  LIST
  */
app-city-list .capital-card {
  border: 1px solid #2b73ae;
  background-color: white;
  border-radius: 20px;
  padding-bottom: 40px;
  margin-bottom: 120px;
}

app-city-list .capital-card p {
  padding-bottom: 5px;
}

app-city-list .capital-card:hover {
  transition: 0.5s;
  background-color: #b1daed;
}

app-city-list p.card-city {
  font-size: 3rem;
  font-weight: 600;
}

app-city-list .card-meteo {
  font-size: 2rem;
  margin-top: -1rem;
}

app-city-list .card-icon {
  font-size: 12em;
}

app-city-list .card-data-container {
  margin-top: -115px;
}

app-city-list.card-city {
  margin-top: -45px;
}

app-city-list .card-temp {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

/*
  DETAIL
*/

app-city-detail .capital-card {
  padding-bottom: 40px
}

app-city-detail .capital-card p {
  padding-bottom: 5px;
}

app-city-detail p.card-city {
  font-size: 6rem;
  font-weight: 600;
  margin-top: -90px;
}

app-city-detail .card-meteo {
  font-size: 2.2rem;
  margin-top: -1rem;
}

app-city-detail .card-icon {
  font-size: 15em;
}

app-city-detail .card-data-container {
  margin-top: -115px;
  color: white;
}

app-city-detail.card-city {
  margin-top: -45px;
}

app-city-detail .card-temp {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.back {
  color: white;
  font-size: 1.7rem;
  margin-left: 15px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
}

.list-container {
  margin-top: 120px;
}


app-city-detail .capital-card {
  margin-top: 75px;
}

@media (max-width: 991px) {
  app-city-list .capital-card{
    margin-bottom: 100px;
  }
}

app-city-results.col-md-4 {
  font-size: 1.8rem;
  color: black;
}
